body, html {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    background-color: whitesmoke;
    color: rgb(88, 89, 89);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 3em;
    text-align: center;
}

#links {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

#links li a {
    transition: color 0.5s ease;
    color: darkgrey;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 390px) and (max-width: 622px) {
    #links {
        justify-content: space-between;
    }

    #links li a {
        justify-content: flex-start;
    }
}

#links li {
    margin: 1em;
    flex: none;
    width: 100%;
}

@media  (min-width: 390px) {
  #links li {
      margin: 1em;
      flex: none;
      width: 40%;
  }
}

@media (min-width: 622px) {
  #links li {
    flex: 1;
    margin: 2em;
  }
}

@media  (min-width: 768px) {
 #links li {
   flex: 1;
   margin: 3em;
 }
}

#links li a span {
    alignment-baseline: middle;
}

#links li a:hover {
    color: orangered;
}

#links li a svg {
    transition: fill 0.5s ease;
    fill: darkgrey;
    height: 2em;
    width: auto;
    margin-right: 0.5em;
}

#links li a:hover svg {
    fill: orangered;
}
